@model SGCI.ApplicationCore.Entity.Lancamento

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Lancamento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DataLancamento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataLancamento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StatusLancamento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StatusLancamento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Categoria.Descriao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Conta)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Conta.Nome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.LancamentoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
