@model IEnumerable<SGCI.ApplicationCore.Entity.Lancamento>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DataLancamento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Valor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descricao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StatusLancamento)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Conta)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataLancamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusLancamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria.Descriao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Conta.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LancamentoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LancamentoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LancamentoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
